# Godot 4+ specific ignores
.godot/

# project asset files
local/

temp/

# ide specific files
.vscode/*
.vs/

bin/
obj/
TestResults/

.fake
*.db

# Launch settings
!.vscode/launch.json
!.vscode/ruleset.xml
!.vscode/tasks.json
!.vscode/extensions.json